<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="adminstyle.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  
    
    <title>Welcome to admin panel</title>
</head>
    <body>
        <section id="page">
            <header>
                <img id="header-logo" src="icon.png" alt="icon" >
            </header>
            <main>
              <table id="usertable">
                <tr>
                 <th>CustomerId</th>
                 <th>Name</th>
                 <th>Address</th>
                 <th>Load type</th>
                 <th>Phase type</th>
                 <th>Registered Date</th>
                 <th>Status</th>

                   <tr v-for="userdata in userdatas">
                        <td>{{ userdata.id }}</td>
                        <td><a v-bind:href="userdata.id">{{ userdata.name }}</a></td>
                        <td>{{ userdata.address }}</td>
                        <td>{{ userdata.loadtype }} </td>
                        <td>{{ userdata.phasetype }}</td>
                        <td>{{ userdata.created }}</td>
                        <td v-if="userdata.status" ><span id="active">ACTIVE &nbsp; &nbsp;</span> <input v-on:click="disable(userdata.id)" type="checkbox" checked></td>
                        <td v-else>  <span id="inactive">INACTIVE </span> <input v-on:click="enable(userdata.id)" type="checkbox"> </td>
                    </tr>
                     
                
              </table>
            </main>
            <footer>Footer</footer>
        </section> 
    </body>
<script src="vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-chartjs/3.3.2/vue-chartjs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-chartjs/3.3.2/vue-chartjs.js.map"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    
<script>
 var usertable = new Vue({
  el: '#usertable',
  data: {
    userdatas: {}
  },
  created: function() {
    this.fetchUserTable()
  },
  methods: {
    disable: function(id) {
        console.log(id)
        axios.get(`/user/disable/${id}`)
        .then(function (response) {
            // handle success
            console.log(response.data.userdata)
            usertable.userdatas =  response.data.userdata
            
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
        });
        usertable.fetchUserTable()

    },
    enable: function(id) {
        console.log(id)
        axios.get(`/user/enable/${id}`)
        .then(function (response) {
            // handle success
            console.log(response.data.userdata)
            usertable.userdatas =  response.data.userdata
            
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
        });
        usertable.fetchUserTable()
    },    
    fetchUserTable: function() {
        axios.get('/getusertable')
        .then(function (response) {
            // handle success
            console.log(response.data.userdata)
            usertable.userdatas =  response.data.userdata
            
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
      }
    }
})
</script>
</html>