<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
    
    <title>Welcome to smart energy meter</title>
</head>
    <body>
        <div id="app">
        <section id="page">
            <header>
                <img id="header-logo" src="icon.png" alt="icon" >
            </header>
            <div id="left-one">
                <div id="container">
                   
                    
                    <div>
                        <h1>Unit this month: {{currentunit}}</h1>
                        <!-- {{ previousunit }}
                        {{ totalunit }}
                        {{ currentunit }} -->
                    </div>
                </div>
                
            </div> 
            <div id="right-one">
                    <div id="container">
                   
                    
                            <div>
                                <h1>Cost this month: {{cost}}</h1>
                                <h1 v-if="status == 'no'">INACTIVE</h1>
                                <h1 v-if="status == 'yes'">ACTIVE</h1>
                                <!-- {{ previousunit }}
                                {{ totalunit }}
                                {{ currentunit }} -->
                            </div>
                        </div>
                </div>   
            </main>
            <footer>Footer</footer>
        </section>
    </div>   
    </body>
<script src="vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js"></script>
    
<script>
 var app = new Vue({
  el: '#app',
  data: {
    previousunit: 0,
    currentunit: 0,
    cost: 0,
    status: 'no'
  },
  created: function() {
    this.message = 'Your data displays here'
    this.getData
    setInterval(this.getData, 2000)
  },
  methods: {
    getData: function() {
        axios.get('/data')
        .then(function (response) {
            // handle success
            app.previousunit = response.data.punit
            app.currentunit = response.data.cunit
            app.cost = response.data.cost
            app.status = response.data.state
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
    }
  }
})
</script>
</html>